@font-face {
    font-family: VerdanaProCondBold;
    src: url("../fonts/VerdanaPro-CondBold.woff");
}
@font-face {
    font-family: VerdanaProCondRegular;
    src: url("../fonts/VerdanaPro-CondRegular.woff");
}
body {
    font-family: VerdanaProCondRegular, sans-serif;
    font-size: 12px;
}
input {
    border: 1px solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    padding: 0.25em;
    text-align: center;
}
input[readonly] {
    background-color: lightgray;
}
textarea {
    border: 1px solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    resize: none;
}
textarea[readonly] {
    background-color: lightgray;
}
table {
    margin: 2em 0;
}
table.highlight-even tbody tr:nth-child(even) {
    background-color: #eee;
}
table.highlight-odd tbody tr:nth-child(odd) {
    background-color: #eee;
}
td {
    padding: 0.25em;
    text-align: center;
}
td.long {
    width: 16em;
}
td.short {
    width: 4em;
}
td input {
    width: 100%;
}
td textarea {
    height: 100%;
    width: 100%;
}
.flex {
    align-items: flex-end;
    display: flex;
}
.flex .cell {
    flex: auto;
    padding: 0.25em;
    text-align: center;
}
.flex .cell.long {
    flex-basis: 26em;
}
.flex .cell.short {
    flex-basis: 4em;
}
.flex input {
    width: 100%;
}
.flex textarea {
    height: 100%;
    width: 100%;
}
.label {
    background-color: black;
    color: white;
    padding: 0.25em;
}
.caps {
    text-transform: uppercase;
}
.large {
    font-family: VerdanaProCondBold, sans-serif;
    font-size: 16px;
}
.small {
    font-size: 10px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.round-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#controls {
    background-color: black;
    padding: 0.25em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#controls i {
    color: white;
}
#controls i:hover {
    color: lightgray;
    cursor: pointer;
}
#save-file,
#load-file {
    display: none;
}
#container {
    margin: 0 auto;
    position: relative;
    width: 100em;
}
#logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 26em;
}
#description {
    margin: 2em 0;
    width: 70em;
}
#abilities {
    position: absolute;
    left: 0;
    top: 7.6em;
    width: 26em;
}
#hit-points {
    position: absolute;
    left: 28em;
    top: 7.6em;
    width: 28em;
}
#speed {
    position: absolute;
    left: 58em;
    top: 11em;
    width: 10em;
}
#damage-reduction {
    position: absolute;
    left: 70em;
    top: 11em;
    width: 28em;
}
#armor-class {
    position: absolute;
    left: 28em;
    top: 15.6em;
}
#touch-armor-class {
    position: absolute;
    left: 28em;
    top: 23.8em;
    width: 12em;
}
#flat-footed-armor-class {
    position: absolute;
    left: 42em;
    top: 23.8em;
    width: 14em;
}
#initiative-modifier {
    position: absolute;
    left: 28em;
    top: 29em;
    width: 28em;
}
#saving-throws {
    position: absolute;
    left: 0;
    top: 37em;
    width: 56em;
}
#base-attack-bonus {
    position: absolute;
    left: 0;
    top: 55.2em;
    width: 20em;
}
#spell-resistance {
    position: absolute;
    left: 22em;
    top: 55.2em;
    width: 18em;
}
#grapple-modifier {
    position: absolute;
    left: 0;
    top: 59.4em;
    width: 40em;
}
#attacks {
    position: absolute;
    left: 0;
    top: 69em;
    width: 56em;
}
#gear {
    position: absolute;
    left: 0;
    top: 119em;
    width: 56em;
}
#attacks .attack,
#gear .item {
    margin: 2em 0;
}
#attacks .attack .cell,
#gear .item .cell {
    padding: 0;
}
#skills {
    position: absolute;
    right: 0;
    top: 24em;
}
#skills td.skill-name {
    text-align: left;
}
#skills td.skill-name input {
    width: 8em;
}
#max-ranks {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
}
#max-ranks input {
    color: black;
    width: 6em;
}
#other-possessions {
    position: absolute;
    left: 0;
    top: 152.3em;
    width: 42em;
}
#carrying-capacity {
    position: absolute;
    left: 0;
    top: 197.6em;
    width: 42em;
}
#money {
    position: absolute;
    left: 0;
    top: 205.1em;
    width: 20em;
}
#languages {
    position: absolute;
    left: 22em;
    top: 205.1em;
    width: 20em;
}
#feats {
    position: absolute;
    left: 44em;
    top: 152.3em;
    width: 18em;
}
#special-abilities {
    position: absolute;
    left: 44em;
    top: 183.1em;
    width: 18em;
}
#spells {
    position: absolute;
    right: 0;
    top: 152.3em;
    width: 36em;
}
#spell-save-difficulty-class-modifier {
    position: absolute;
    left: 64em;
    top: 206.5em;
    width: 17em;
}
#arcane-spell-failure-chance {
    position: absolute;
    left: 83em;
    top: 206.5em;
    width: 17em;
}