@font-face {
    font-family: VerdanaProCondBold;
    src: url("../fonts/VerdanaPro-CondBold.woff");
}
@font-face {
    font-family: VerdanaProCondRegular;
    src: url("../fonts/VerdanaPro-CondRegular.woff");
}
body {
    font-family: VerdanaProCondRegular, sans-serif;
    font-size: 12px;
}
input {
    border: 1px solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    padding: 3px;
    text-align: center;
}
input[readonly] {
    background-color: lightgray;
}
textarea {
    border: 1px solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    resize: none;
}
textarea[readonly] {
    background-color: lightgray;
}
table {
    margin: 24px 0;
}
table.highlight-even tbody tr:nth-child(even) {
    background-color: #eee;
}
table.highlight-odd tbody tr:nth-child(odd) {
    background-color: #eee;
}
td {
    padding: 3px;
    text-align: center;
}
td.long {
    width: 192px;
}
td.short {
    width: 48px;
}
td input {
    width: 100%;
}
td textarea {
    height: 100%;
    width: 100%;
}
.flex {
    align-items: flex-end;
    display: flex;
}
.flex .cell {
    flex: auto;
    padding: 3px;
    text-align: center;
}
.flex .cell.long {
    flex-basis: 312px;
}
.flex .cell.short {
    flex-basis: 48px;
}
.flex input {
    width: 100%;
}
.flex textarea {
    height: 100%;
    width: 100%;
}
.label {
    background-color: black;
    color: white;
    padding: 3px;
}
.caps {
    text-transform: uppercase;
}
.large {
    font-family: VerdanaProCondBold, sans-serif;
    font-size: 16px;
}
.small {
    font-size: 10px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.round-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#controls {
    background-color: black;
    padding: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#controls i {
    color: white;
}
#controls i:hover {
    color: lightgray;
    cursor: pointer;
}
#save-file,
#load-file {
    display: none;
}
#container {
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
#logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 312px;
}
#description {
    margin: 24px 0;
    width: 840px;
}
#abilities {
    position: absolute;
    left: 0;
    top: 91.2px;
    width: 312px;
}
#hit-points {
    position: absolute;
    left: 336px;
    top: 91.2px;
    width: 336px;
}
#speed {
    position: absolute;
    left: 696px;
    top: 132px;
    width: 120px;
}
#damage-reduction {
    position: absolute;
    left: 840px;
    top: 132px;
    width: 336px;
}
#armor-class {
    position: absolute;
    left: 336px;
    top: 187.2px;
    width: 648px;
}
#touch-armor-class {
    position: absolute;
    left: 336px;
    top: 285.6px;
    width: 144px;
}
#flat-footed-armor-class {
    position: absolute;
    left: 504px;
    top: 285.6px;
    width: 168px;
}
#initiative-modifier {
    position: absolute;
    left: 336px;
    top: 348px;
    width: 336px;
}
#saving-throws {
    position: absolute;
    left: 0;
    top: 444px;
    width: 672px;
}
#base-attack-bonus {
    position: absolute;
    left: 0;
    top: 662.4px;
    width: 240px;
}
#spell-resistance {
    position: absolute;
    left: 264px;
    top: 662.4px;
    width: 216px;
}
#grapple-modifier {
    position: absolute;
    left: 0;
    top: 712.8px;
    width: 480px;
}
#attacks {
    position: absolute;
    left: 0;
    top: 828px;
    width: 672px;
}
#gear {
    position: absolute;
    left: 0;
    top: 1428px;
    width: 672px;
}
#attacks .attack,
#gear .item {
    margin: 24px 0;
}
#attacks .attack .cell,
#gear .item .cell {
    padding: 0;
}
#skills {
    position: absolute;
    right: 0;
    top: 288px;
    width: 492px;
}
#skills td.skill-name {
    text-align: left;
}
#skills td.skill-name input {
    width: 96px;
}
#max-ranks {
    position: absolute;
    right: 3px;
    top: 3px;
}
#max-ranks input {
    color: black;
    width: 72px;
}
#other-possessions {
    position: absolute;
    left: 0;
    top: 1827.6px;
    width: 504px;
}
#carrying-capacity {
    position: absolute;
    left: 0;
    top: 2371.2px;
    width: 504px;
}
#money {
    position: absolute;
    left: 0;
    top: 2461.2px;
    width: 240px;
}
#languages {
    position: absolute;
    left: 264px;
    top: 2461.2px;
    width: 240px;
}
#feats {
    position: absolute;
    left: 528px;
    top: 1827.6px;
    width: 216px;
}
#special-abilities {
    position: absolute;
    left: 528px;
    top: 2197.2px;
    width: 216px;
}
#spells {
    position: absolute;
    right: 0;
    top: 1827.6px;
    width: 432px;
}
#spell-save-difficulty-class-modifier {
    position: absolute;
    left: 768px;
    top: 2478px;
    width: 204px;
}
#arcane-spell-failure-chance {
    position: absolute;
    left: 996px;
    top: 2478px;
    width: 204px;
}
