@font-face {
    font-family: VerdanaProCondBold;
    src: url("../fonts/VerdanaPro-CondBold.woff");
}
@font-face {
    font-family: VerdanaProCondRegular;
    src: url("../fonts/VerdanaPro-CondRegular.woff");
}
body {
    font-family: VerdanaProCondRegular, sans-serif;
    font-size: 8pt;
    white-space: nowrap;
}
table {
    margin: 1em 0;
}
th {
    font-weight: normal;
    padding: 0.25em;
    text-transform: uppercase;
}
td {
    padding: 0.25em;
}
table.alt {
    border-collapse: collapse;
}
table.alt tr:nth-child(odd) {
    background-color: #eee;
}
input[type="text"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 12pt;
    width: 8.05em;
}
input[readonly] {
    background-color: #eee;
}
input.short {
    text-align: center;
    width: 3.8em;
}
input.long {
    width: 100%;
}
.center {
    text-align: center;
}
.invert {
    background-color: black;
    color: white;
}
.large {
    font-family: VerdanaProCondBold, sans-serif;
    font-size: 12pt;
}
.table-group {
    margin: 1em 0;
}
.table-group:after {
    clear: both;
    content: "";
    display: block;
}
.table-group table {
    float: left;
    margin: 0;
    padding-left: 2em;
}
.table-group table:first-child {
    padding-left: 0;
}
#container {
    margin: 0 auto;
    position: relative;
    width: 110em;
}
#logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 40em;
}
#hit-points-speed-etc {
    position: absolute;
    right: 0;
    top: 11.8em;
}
#speed {
    position: relative;
    top: 3.7em;
}
#damage-reduction,
#armor-class-touch,
#armor-class-flat-footed {
    position: relative;
    top: 3.3em;
}
#skills {
    position: absolute;
    right: 0;
    top: 40em;
}
#controls {
    background-color: black;
    font-size: 12pt;
    padding: 0.25em;
    position: fixed;
    top: 0;
    left: 0;
}
#controls i {
    color: white;
}
#controls i:hover {
    color: #eee;
    cursor: pointer;
}
#save-file,
#load-file {
    display: none;
}